.Content{

    font-family: Montserrat;
}

.Content img{
    border-radius: 10%;
}


.ParagraphType1{
    font-size: 15px;
    color: dimgray;
}
.ParagraphType2{
    font-size:20px ;
    color: #525252;
}