.textFamily{
    font-family: Montserrat;
}
.bojaStars
{
    color:yellow;
}
.goleminaText
{
    font-size: 13px;
}


.btn-dark
{
    border-radius: 100%;
    border: none;
}
.btn-dark:hover{
    background: darkorange;
}
.zaPomos{
    display: none;
}
.btn-dark:hover + .zaPomos{
    display: inline-block;
}
.zaLista
{
    color:darkgray;
    list-style: none;
}

a{
    text-decoration: none;
    color: gray;
}
a:active{
    color: black;
}

.transform1 .btn-dark{
    border: none;
    border-radius: 40px;
}
a:hover
{
    color:darkorange;
    text-decoration: none;
}

.transform1{
    border-radius: 40px;
    border: none;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}



#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.ramkaHelp{
    border: lightgray solid 1px;
    color: gray;
}
.dropdown-item{color: gray}

.dropdown-item:hover{
    background: #ffd270;
}

.page-item{
    margin-right: 20px;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: lightgray;
    background-color: #343635;
}
.page-item.disabled .page-link {
    color: #868e96;
    pointer-events: none;
    cursor: auto;
    background-color: #CEFFCE;
    border-color: #718393;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: darkorange;
}
.page-link:focus, .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: darkorange;
}
