.btn-dark
{
    font-family: Montserrat;
    border: none;
}
.kruzi{
    font-family: Montserrat;
    border-radius: 40px;
    border: none;
}

.textFamily{
    font-family: Montserrat;
}

.fontLarge1
{
    font-size: 16px;
}

.btn-dark:hover{
    background: darkorange;
}