.Content{
    font-family: Montserrat;
}

.ShopLink{
    font-size: 20px;
    color: dimgray;
}

.ShortDescription{
    font-size: 14px;
    color: gray;
}

.ParagraphType1{
    font-size: 15px;
    color: dimgray;
    font-family: Montserrat;
}
.ParagraphType2{
    font-size:20px ;
    color: #525252;
    font-family: Montserrat;
}
